/* color palette from <https://github.com/vuejs/theme> */
:root {
    --cs-primary-color: #63e2b7;

    --cs-main-bg-color: #1F1F1F;
    --cs-card-bg-color: rgb(41, 41, 41);
    --cs-sub-card-bg-color: #333333;

    --cs-avatar-default-bg-color: var(--cs-primary-color);
    --cs-avatar-default-text-color: #1F1F1F;

    --cs-badge-online-bg-color: #4CAF50;
    --cs-badge-offline-bg-color: #393939;

    --cs-badge-default-bg-color: var(--cs-main-bg-color);
    --cs-badge-current-bg-color: #293632;

    --cs-scrollbar-color: #4C4C4C;
    --cs-scrollbar-hover-color: #636363;
}
