@import './base.css';
@import './bg.css';

body {
    background: radial-gradient(ellipse at bottom, #191627 0%, #110F1A 100%);
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

/* --- Chat info pages --- */
.chat-info-container {
    width: 100%;

    padding: 0;
    margin: 0;
}

.chat-info-text {
    overflow: hidden;
    text-overflow: ellipsis;
}


/* --- Borders --- */
.bordered-bottom {
    border-bottom: 2px solid var(--cs-sub-card-bg-color);
}

.bordered-top {
    border-top: 2px solid var(--cs-sub-card-bg-color);
}

.bordered-left {
    border-left: 2px solid var(--cs-sub-card-bg-color);
}

.bordered-right {
    border-right: 2px solid var(--cs-sub-card-bg-color);
}

.n-base-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}