@import './base.css';

body {
    background-color: var(--cs-main-bg-color);
}

/* --- Chat info pages --- */
.chat-info-container {
    width: 100%;

    padding: 0;
    margin: 0;
}

.chat-info-text {
    overflow: hidden;
    text-overflow: ellipsis;
}

.bottom-bordered {
    border-bottom: 1px solid #333;
}